.parent {
  display: flex;
  width: 100%;
  overflow-y: hidden;
  justify-content: center;
}

.title-tab {
  position: relative;
  --x: #f2613f;
  --y: #d84f33;
  border-radius: 0 0 32px 32px;
}

.title-tab::after,
.title-tab::before {
  position: absolute;
  top: 0;
  z-index: -5;
  content: "";
  width: 48px;
  height: 32px;
  border: solid var(--y);
  translate: 0 -2px;
}

.title-tab::before {
  left: calc(-48px + 2px);
  border-top-right-radius: 32px;
  border-width: 2px 2px 0 0;
  box-shadow: 8px -8px 0px var(--y);
}

.title-tab::after {
  right: calc(-48px + 2px);
  border-top-left-radius: 32px;
  border-width: 2px 0 0 2px;
  box-shadow: -8px -8px 0px var(--y);
}
